


header{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

header>svg{
    margin-left: 30px;
    transform: rotate(180deg) scale(1.4);
    transition: 0.2s ease;
    cursor: pointer;

}

header>svg:hover{

    transform: rotate(0deg) scale(1.2);
}

h1{
    font-size: 40px;
    border-bottom: 4px solid var(--beigeA);
    display: inline;
    border-radius: 5px;
    padding: 0 10px;
}