@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


nav{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

h2{
    margin: 0 0 0 20px;
    font-size: 140px;
    display: inline;
    transition: all 0.3s ease ;
}


h2:hover{
    transform: translate(20px);
}


a{
    text-decoration: none;
    color: var(--negro);
}


#presentacion{
    right: 20px;
    bottom: 5px;
    position: fixed;
    width: 300px;
}

#presentacion>h3{
    font-size: 25px;
}


















