main{
    margin: 100px auto;
    width: 1000px;
}

article{
    margin-top: 50px;
}

h2{
    font-size: 30px;
    border-left: 3px solid var(--beigeA);
    border-right: 3px solid var(--beigeA);
    width: fit-content;
    padding: 0 20px ;
}

p{
    font-size: 22px;
    
}

code{
    display: block;
    background-color: white;
    font-size: 20px;
    padding: 10px 0;
}

img{

    width: 800px;
    border-radius: 7px;
    margin: 20px 100px 50px;
}