@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root{
    --negro: #434343;
    --beige: #FCF5ED;
    --beigeA: #F4BF96;
}

body{
    overflow-y: scroll;

    scrollbar-width: thin;         
    scrollbar-color: var(--negro) var(--beige);
}

nav{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

h2{
    margin: 0 0 0 20px;
    font-size: 130px;
    display: inline;
    transition: all 0.3s ease ;
}


h2:hover{
    transform: translate(20px);
}


a{
    text-decoration: none;
    color: var(--negro);
}

header{
    right: 20px;
    bottom: 73px;
    position: fixed;
    width: 270px;

}

header>h1{
    font-size: 50px;
    color: var(--negro);

}

footer{
    height: 50px;
    width: 100%;
    background-color: var(--negro);
    color: var(--beige);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer>h3{
    color: var(--beige);
    margin: 0 10vw;
}

footer>span{
    font-size: 30px;
}















