@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --negro: #454545;
    --beige: #FCF5ED;
    --beigeA: #F4BF96;
}

body{
    background-color: var(--beige);
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", serif;
    color: var(--negro);

}

p{
    color: var(--negro);
    font-family: "Bitter", serif;
}

a{
    text-decoration: none;
    color: var(--negro);
}

