@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


header{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#headerP>svg{
    margin-left: 30px;
    transform: rotate(180deg) scale(1.4);
    transition: 0.2s ease;
    cursor: pointer;

}

#headerP>svg:hover{

    transform: rotate(0deg) scale(1.2);
}

h1{
    
    font-size: 40px;
    border-bottom: 4px solid var(--beigeA);
    display: inline;
    border-radius: 5px;
    padding: 0 10px;
}

.selectMV > h2{
    margin: 10px 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 100px;
}

.selectMV {
    border-radius: 15px;
    width: 350px;
    border: 5px solid var(--beigeA);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.4s linear;
}

.selectMV:hover{

    transform: scale(1.2);
}


main> div > img{
    width: 200px;
    padding: 20px 0;
}


#VE1,#VE2{
    background-color: rgba(0, 0, 0, 0.269);
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}


#cuerpo{
    background-color: var(--beige);
    max-width: 700px;
    height: 600px;
    border-radius: 10px 5px 5px 10px;
    padding: 0 20px 5px;

    overflow: auto;
}

#cuerpo::-webkit-scrollbar{
    width: 10px;
    background-color: var(--beige);
    border-radius: 15px;
    
}
#cuerpo::-webkit-scrollbar-thumb{
    background-color: var(--negro);
    border-radius: 15px;
    border-right: 5px solid var(--beige);
    
}


#headerVE > h2{
    font-size: 30px;
}

#headerVE > svg{
    transition: 0.2s linear;
    cursor: pointer;
}

#headerVE > svg:hover{
    transform: rotate(90deg);
}

#cuerpo>article{
    margin-top: 30px;
}

a{
    border-bottom: 3px solid var(--beigeA);
    color: var(--negro);
}

article {
    margin: 0 20px;
}

article > h3{
    font-size: 26px;
}

article > section> p{
    font-size: 18px;
    
    text-align: center;
}


article> section > img{
    margin-bottom: 50px;
    width: 100%;
    border-radius: 5px;
}













